<div class="container">
  <h2>Liste des Profils de Santé</h2>

  <table mat-table [dataSource]="profils" class="mat-elevation-z8" multiTemplateDataRows style="width: 100%;">

    <!-- Colonne Nom -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Nom </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;"> {{ profil.utilisateur.nom }} </td>
    </ng-container>

    <!-- Colonne Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Email </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;"> {{ profil.utilisateur.email }} </td>
    </ng-container>

    <!-- Colonne Objectifs de Santé -->
    <ng-container matColumnDef="objectifs">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Objectifs de Santé </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;">
        <ul>
          <li *ngFor="let objectif of profil.objectifs">{{ objectif.nom }}: {{ objectif.description }}</li>
        </ul>
      </td>
    </ng-container>

    <!-- Colonne Allergies -->
    <ng-container matColumnDef="allergies">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Allergies </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;">
        <ul>
          <li *ngFor="let allergie of profil.allergies">{{ allergie.nom }}: {{ allergie.description }}</li>
        </ul>
      </td>
    </ng-container>

    <!-- Colonne Maladies -->
    <ng-container matColumnDef="maladies">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Maladies </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;">
        <ul>
          <li *ngFor="let maladie of profil.maladies">{{ maladie.nom }}: {{ maladie.description }}</li>
        </ul>
      </td>
    </ng-container>

    <!-- Colonne Préférences Alimentaires -->
    <ng-container matColumnDef="preferences">
      <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Préférences Alimentaires </th>
      <td mat-cell *matCellDef="let profil" style="width: 20%;">
        <ul>
          <li *ngFor="let preference of profil.preferencesAlimentaires">{{ preference.nom }}: {{ preference.description }}</li>
        </ul>
      </td>
    </ng-container>

    <!-- Header et lignes du tableau -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
