<div class="container login-container">
  <div class="row align-items-center justify-content-center">
    <!-- Section gauche -->
    <div class="col-md-5 text-center left-section">
      <img src="assets/images/logo3.png" alt="Logo Equilibro" class="logo mb-4">
      <h2 class="welcome-title">Bienvenue sur Equilibro</h2>
      <p class="welcome-message">
        Prenez soin de votre santé avec des repas équilibrés et personnalisés. Suivez vos objectifs nutritionnels au quotidien.
      </p>
    </div>
    <!-- Section droite -->
    <div class="col-md-5 right-section">
      <form (ngSubmit)="onSubmit()" class="login-form">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Entrez votre email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de Passe</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="motDePasse" name="motDePasse" placeholder="Entrez votre mot de passe">
        </div>
        <button type="submit" class="btn btn-close-white w-100">Se Connecter</button>
        <p class="create-account mt-3 text-center">
          Vous n'avez pas de compte ? <a href="#" (click)="goToCreateAccount()">Créer un compte</a>
        </p>
      </form>
    </div>
  </div>
</div>
