/* Sidebar Styling */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20.67%;
  z-index: 100; /* Stay on top */
  overflow-y: auto; /* Scroll if necessary */
  background-color: #00796b; /* Green background */
  padding-top: 1rem;
}

.nav-link i {
  margin-right: 10px; /* Espace entre l'icône et le texte */
  font-size: 18px; /* Taille des icônes */
}

.nav-link {
  display: flex; /* Pour aligner les icônes et le texte sur une même ligne */
  align-items: center; /* Centrer les éléments verticalement */
}

#sidebar .nav-link {
  color: white;
  margin: 0.5rem 0;
}

#sidebar .nav-link:hover {
  background-color: #1e9e84;
}


main {


}

/* Footer  */
.footer {
  position: fixed;
  bottom: 0;
  left: 20.67%;
  width: 79.33%;
  background-color: #00796b;
  padding: 1rem;
  text-align: center;
  z-index: 100;
  color: white;
  border-top: 1px solid #e9ecef;
}

/* Optional: Style for the search bar and notification area */
.search-bar {
  max-width: 400px;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
}





