<div class="register-container">
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de Passe</mat-label>
      <input matInput [(ngModel)]="motDePasse" name="motDePasse" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Créer un compte</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>

  <p>Vous avez déjà un compte ?
    <a (click)="goToLogin()">Se connecter</a>
  </p> <!-- Lien vers la page de connexion -->
</div>
