button{
  margin-right: 25PX;
  background-color: #00796b;
  color: white;
}

.scrollable-form {
  max-height: 400px;  /* Ajuste la hauteur maximale ici selon tes besoins */
  overflow-y: auto;   /* Ajoute la barre de défilement verticale */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

