<div class="dashboard-container">
  <!-- Section des statistiques -->
  <section class="stats-section" *ngIf="statsData.length">
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="16px">
      <mat-grid-tile *ngFor="let stat of statsData" class="stat-card" colspan="1" rowspan="1">
        <mat-card class="stat-card-content">
          <mat-card-header>
            <mat-icon color="accent">{{ stat.icon }}</mat-icon>
            <mat-card-title>{{ stat.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h2>{{ stat.value }}</h2>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section> <!-- Fin de stats-section -->

  <!-- Section des informations nutritionnelles -->
  <section class="nutritional-info-section">
    <div class="nutritional-info-card">
      <div class="nutritional-info-image">
        <img src="assets/images/fruits.png" alt="Les Fruits">
      </div>
      <div class="nutritional-info-content">
        <h4>Les Fruits</h4>
        <p>Les fruits sont bénéfiques pour la santé. Ils sont riches en vitamines (C, A), minéraux, fibres, et antioxydants, ce qui aide à renforcer le système immunitaire...</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
    <div class="nutritional-info-card">
      <div class="nutritional-info-image">
        <img src="assets/images/legumes.png" alt="Les Légumes">
      </div>
      <div class="nutritional-info-content">
        <h4>Les Légumes</h4>
        <p>Les légumes sont essentiels pour la santé, car ils sont riches en vitamines, minéraux, antioxydants et fibres. Ils favorisent une bonne digestion...</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
    <div class="nutritional-info-card">
      <div class="nutritional-info-image">
        <img src="assets/images/salade.png" alt="La Salade">
      </div>
      <div class="nutritional-info-content">
        <h4>La salade</h4>
        <p>La salade est bénéfique pour le bien-être général car elle aide à contrôler la glycémie grâce à sa faible teneur en glucides et à ses fibres...</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
      </div>
    </div>
  </section>
</div>
