/* Sidebar Styling */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20.67%;
  z-index: 100;
  overflow-y: auto;
  background-color: #20C997; /* Gris foncé pour un design plus sobre */
  color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar .logo-sidebar {
  max-width: 80%;
  padding: 1rem;
  background-color: #ffffff; /* Fond blanc pour le logo */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour plus de profondeur */
}

#sidebar ul.nav {
  padding: 0;
}

#sidebar ul.nav li a {
  padding: 10px 20px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar ul.nav li a:hover {
  background-color: #343a40; /* Vert plus vif au hover */
  color: #ffffff;
}

#sidebar ul.nav li a i {
  margin-right: 10px;
}

/* Main content */
main {
  margin-left: 20.67%;
  padding: 2rem; /* Plus de padding pour un effet aéré */
  min-height: calc(100vh - 60px);
  padding-bottom: 60px;
  background-color: #f1f3f5; /* Légèrement gris pour une meilleure distinction */
}

.search-bar {
  max-width: 500px;
}

.search-bar input {
  border-radius: 25px 0 0 25px;
}

.search-bar button {
  border-radius: 0 25px 25px 0;
}

.badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: red; /* Badge de notification bien visible */
}

/* Footer Styling */
.footer {
  position: fixed;
  bottom: 0;
  left: 20.67%;
  width: 79.33%; /* Ajustement pour tenir compte des marges */
  background-color: #20C997; /* Assortir le fond de la barre latérale */
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  z-index: 100;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer span {
  font-size: 0.9rem;
}



