/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidebar {
  /*height: 100vh;
*/
}


.logo-sidebar {
  max-width: 150px;
  margin: 0 auto;
}

.search-bar {
  width: 50%;
}

.badge {
  position: absolute;
  top: 5px;
  right: 15px;
}

footer{

}
